html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
                    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
                    sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: light-dark(white, #444);
    color: light-dark(#444, white);
}

:root {
    color-scheme: dark;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

pre {
    max-width: 100%; /* Ensures the code block does not exceed the container width */
    overflow-x: auto; /* Adds a horizontal scrollbar if necessary */
    padding: 1em; /* Adds padding to the edges using relative units */
}